#!/usr/bin/env bash

export CF_ZONE_ID=3rjw4k542geB87Jw4K7MUGoePnWDTu7Ed
export CF_ACCOUNT_ID=H362fUbBuAe8e7e6hdcBWU
export CF_API_KEY=ePnWDTu7Edn9hStXK2tRS3cZSXwaVk3PDP
export CF_EMAIL=some.dude@secure.com